@charset "utf-8"; /* CSS Document */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans";
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-size: 20px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #5f527a;
  background-color: #ffffff;
  position: relative;
}
a {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
}
a:hover,
a:focus,
a:visited {
  text-decoration: none;
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Sans";
  font-weight: normal;
  margin: 0px;
  background: none;
}
input,
button,
select,
textarea {
  font-family: "DM Sans";
}
p {
  line-height: normal;
}
ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.heading-title-center {
  width: 100%;
  text-align: center;
}
.heading-title-center h6 {
  width: auto;
  display: inline-block;
  padding: 8px 24px;
  background: rgba(235, 227, 253, 0.25);
  border-radius: 20px;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #4313a1;
  margin-bottom: 24px;
}
.heading-title-center h2 {
  font-weight: bold;
  font-size: 26px;
  line-height: 36px;
  text-align: center;
  background: #4313a1;
  background: -webkit-linear-gradient(
    to top right,
    #4313a1 20%,
    #bd4238 72%,
    #ff5c00 100%
  );
  background: -moz-linear-gradient(
    to top right,
    #4313a1 20%,
    #bd4238 72%,
    #ff5c00 100%
  );
  background: linear-gradient(
    to top right,
    #4313a1 20%,
    #bd4238 72%,
    #ff5c00 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 48px;
}

.heading-title-left {
  width: 100%;
  text-align: left;
}
.heading-title-left h6 {
  width: auto;
  display: inline-block;
  padding: 8px 24px;
  background: rgba(235, 227, 253, 0.25);
  border-radius: 20px;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #4313a1;
  margin-bottom: 24px;
}
.heading-title-left h2 {
  font-weight: bold;
  font-size: 26px;
  line-height: 36px;
  text-align: left;
  background: #4313a1;
  background: -webkit-linear-gradient(
    to top right,
    #4313a1 20%,
    #bd4238 72%,
    #ff5c00 100%
  );
  background: -moz-linear-gradient(
    to top right,
    #4313a1 20%,
    #bd4238 72%,
    #ff5c00 100%
  );
  background: linear-gradient(
    to top right,
    #4313a1 20%,
    #bd4238 72%,
    #ff5c00 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 48px;
}
/* Header css */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
  height: 80px;
}

header .main-header {
  background: linear-gradient(
    217.32deg,
    #fcfcfd -0.01%,
    rgba(252, 252, 253, 0.6) 100%
  );
  backdrop-filter: blur(32px);
  box-shadow: 0px 0px 1px rgb(0 0 0 / 60%);
  padding: 8px 0px 13px 0;
  height: 80px;
}

header .main-header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mob-logo {
  display: none;
}
nav .logo {
  display: block;
  font-weight: bold;
  font-size: 42px;
  line-height: 58.8px;
  background: #4313a1;
  background: -webkit-linear-gradient(
    to top right,
    #4313a1 20%,
    #bd4238 72%,
    #ff5c00 100%
  );
  background: -moz-linear-gradient(
    to top right,
    #4313a1 20%,
    #bd4238 72%,
    #ff5c00 100%
  );
  background: linear-gradient(
    to top right,
    #4313a1 20%,
    #bd4238 72%,
    #ff5c00 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav ul {
  display: flex;
}
nav ul li {
  margin-left: 72px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding: 22px 0 17px 0px;
  color: #483d5c;
}
nav ul li a {
  color: #483d5c;
}
nav ul li a:hover {
  color: #4313a1;
}

/* experts */
.experts {
  padding: 220px 0px 102.5px 7px;
}

.experts .main-experts {
  display: flex;
  justify-content: space-between;
}
.experts .main-experts .experts-content {
  width: 100%;
  margin-right: 71px;
}

.experts .main-experts .experts-content h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 76px;
  background: #4313a1;
  background: -webkit-linear-gradient(
    to bottom right,
    #4313a1 20%,
    #bd4238 60%,
    #ff5c00 100%
  );
  background: -moz-linear-gradient(
    to bottom right,
    #4313a1 20%,
    #bd4238 60%,
    #ff5c00 100%
  );
  background: linear-gradient(
    to bottom right,
    #4313a1 20%,
    #bd4238 60%,
    #ff5c00 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

.experts .main-experts .experts-content h1 span {
  background: linear-gradient(
    to bottom right,
    #4313a1 100%,
    #bd4238 50%,
    #ff5c00 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.experts .main-experts .experts-content p {
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #483d5c;
  margin-bottom: 32px;
}

.experts .main-experts .experts-content .btn-1 {
  padding: 14px 35px;
  background: #4313a1;
  border-radius: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  display: block;
  float: left;
}

.experts .main-experts .experts-content .btn-1:hover {
  background: #ffffff;
  color: #4313a1;
  border: 1px solid #4313a1;
  padding: 15px 40px;
  transition: 0.5s linear;
}
.experts .experts-image {
  width: 100%;
}
.experts .experts-image img {
  width: 100%;
}

/* Solutions */
.our-solutions {
  width: 100%;
  padding: 100px 220px;
  display: flex;
}
.our-solutions .bigbox-content {
  display: flex;
  width: 100%;
  background: rgba(239, 188, 206, 0.25);
  border-radius: 20px;
  background-image: url(../images/solutions-bg1.png);
  background-repeat: no-repeat;
  background-position: right top;
  margin-bottom: 32px;
}
.our-solutions .bigbox-content .leftside {
  padding: 48px 48px;
}
.our-solutions .bigbox-content .leftside h4 {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #18141f;
  margin-bottom: 8.1px;
}
.our-solutions .bigbox-content .leftside p {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #5f527a;
  margin-bottom: 18px;
}
.our-solutions .bigbox-content .leftside .btn-2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #d67f9c;
  display: block;
}
.our-solutions .bigbox-content .leftside .btn-2:hover {
  color: #4313a1;
}
.our-solutions .bigbox-content .leftside .btn-2:after {
  content: url(../images/round-arrow-1.png);
  position: relative;
  margin-left: 8px;
  top: 12px;
}
.our-solutions .bigbox-content .leftside .btn-2:hover:after {
  content: url(../images/round-arrow-hover.png);
  margin-left: 12px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.our-solutions .bigbox-content .rightside {
  padding: 38.37px 40.74px 31.78px 0;
}
.our-solutions .bigbox-content .rightside img {
  width: auto;
}

.our-solutions .smallboxes {
  display: flex;
  flex-direction: row;
}

.our-solutions .smallbox-content-1 {
  width: 50%;
  background: rgba(255, 224, 173, 0.25);
  border-radius: 20px;
  background-image: url(../images/solutions-bg2.png);
  background-repeat: no-repeat;
  background-position: right top;
  margin-bottom: 32px;
  margin-right: 32px;
}
.our-solutions .smallbox-content-1 .leftside {
  padding: 48px 86px 48px 48px;
}
.our-solutions .smallbox-content-1 .leftside h4 {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #18141f;
  margin-bottom: 8.1px;
}
.our-solutions .smallbox-content-1 .leftside p {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #5f527a;
  margin-bottom: 86px;
}
.our-solutions .smallbox-content-1 .leftside .btn-3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffc465;
  display: block;
}
.our-solutions .smallbox-content-1 .leftside .btn-3:hover {
  color: #4313a1;
}
.our-solutions .smallbox-content-1 .leftside .btn-3:after {
  content: url(../images/round-arrow-2.png);
  position: relative;
  margin-left: 8px;
  top: 12px;
}
.our-solutions .smallbox-content-1 .leftside .btn-3:hover:after {
  content: url(../images/round-arrow-hover.png);
  margin-left: 12px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.our-solutions .smallbox-content-1 .rightside {
  position: relative;
}
.our-solutions .smallbox-content-1 .rightside img {
  width: 177px;
  position: absolute;
  right: 0;
  padding: 0 32.47px 32.36px 0;
  top: -153px;
}
.our-solutions .smallbox-content-2 {
  width: 50%;
  background: rgba(255, 197, 173, 0.25);
  border-radius: 20px;
  background-image: url(../images/solutions-bg3.png);
  background-repeat: no-repeat;
  background-position: right top;
  margin-bottom: 32px;
}
.our-solutions .smallbox-content-2 .leftside {
  padding: 48px 86px 48px 48px;
}
.our-solutions .smallbox-content-2 .leftside h4 {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #18141f;
  margin-bottom: 8.1px;
}
.our-solutions .smallbox-content-2 .leftside p {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #5f527a;
  margin-bottom: 55px;
}
.our-solutions .smallbox-content-2 .leftside .btn-4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffa07a;
  display: block;
}
.our-solutions .smallbox-content-2 .leftside .btn-4:hover {
  color: #4313a1;
}
.our-solutions .smallbox-content-2 .leftside .btn-4:after {
  content: url(../images/round-arrow-3.png);
  position: relative;
  margin-left: 8px;
  top: 12px;
}
.our-solutions .smallbox-content-2 .leftside .btn-4:hover:after {
  content: url(../images/round-arrow-hover.png);
  margin-left: 12px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.our-solutions .smallbox-content-2 .rightside {
  position: relative;
}
.our-solutions .smallbox-content-2 .rightside img {
  width: 192px;
  position: absolute;
  right: 0;
  padding: 0px 32.24px 32px 0;
  top: -147px;
}

/* Why Us */
.why-us {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 100px 0 44px 7px;
}

.why-us .w-u-content {
  position: relative;
  width: 25%;
  float: left;
  padding: 0 24px;
  text-align: center;
  margin: 48px 0 30px 0;
}

.why-us .w-u-content:after {
  height: 168px;
  width: 1px;
  border: 1px dashed rgba(95, 82, 122, 0.5);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
}
.why-us .w-u-content:last-child:after {
  content: none;
}

.why-us .w-u-content img {
  width: auto;
  margin-bottom: 24px;
}

.why-us .w-u-content p {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.21px;
  color: #483d5c;
}

/* About Us */
.about-us {
  padding: 100px 154px 84px 220px;
  width: 100%;
  display: flex;
}
.about-us .about-content {
  display: flex;
}
.about-us .about-content .leftpart {
  width: 100%;
}
.about-us .about-content .leftpart h2 {
  font-weight: bold;
  font-size: 26px;
  line-height: 36px;
  text-align: left;
  background: #4313a1;
  background: -webkit-linear-gradient(
    to top right,
    #4313a1 20%,
    #bd4238 72%,
    #ff5c00 100%
  );
  background: -moz-linear-gradient(
    to top right,
    #4313a1 20%,
    #bd4238 72%,
    #ff5c00 100%
  );
  background: linear-gradient(
    to top right,
    #4313a1 20%,
    #bd4238 72%,
    #ff5c00 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 48px;
}
.about-us .about-us .leftpart ul {
  margin: 0;
  padding: 0;
}
.about-us .about-us .leftpart ul li {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #5f527a;
  margin-left: 24px;
  margin-bottom: 5px;
}
.about-us .leftpart ul li:before {
  content: url(../images/list-icon.png);
  font-size: 13px;
  display: inline-block;
  margin-right: 10px;
  color: #008dd2;
  margin-left: -25px;
  color: #008dd2;
  position: absolute;
  padding-right: 20px;
  padding-top: 4px;
}
.about-us .rightpart {
  width: 100%;
}
.about-us .rightpart img {
  width: 100%;
}

/* Blogs */
.blogs {
  width: 100%;
  padding: 100px 0px 60px 0;
  display: flex;
  justify-content: center;
  background: linear-gradient(
    360deg,
    rgba(235, 227, 253, 0.5) 0%,
    rgba(255, 255, 255, 0.5) 56.46%
  );
}
.blogs .heading-title-center h2 {
  margin-bottom: 28px;
}
.blogs .blog-slider {
  width: 100%;
  display: flex;
  position: relative;
  padding: 0 100px;
}

.blogs .blog-slider.owl-carousel .owl-nav .owl-prev,
.blogs .blog-slider.owl-carousel .owl-nav .owl-next {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  top: 0;
  bottom: 0;
  margin: auto;
}

.blogs .blog-slider.owl-carousel .owl-nav .owl-prev.disabled,
.blogs .blog-slider.owl-carousel .owl-nav .owl-next.disabled {
  display: none;
}

.blogs .blog-slider.owl-carousel .owl-nav .owl-prev {
  background: url("../images/left-arrow-blue.png") no-repeat center center;
  left: 0;
}

.blogs .blog-slider.owl-carousel .owl-nav .owl-next {
  background: url("../images/right-arrow-blue.png") no-repeat center center;
  right: 0;
}
.blogs .blog-slider .item {
  width: 300px;
  padding-right: 10px;
  padding-left: 10px;
}
.blogs .blog-slider .blog-box {
  position: relative;
  width: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  box-shadow: 0px 20px 32px rgba(61, 75, 92, 0.05);
  border-radius: 0px 0px 12px 12px;
  margin: 20px 0 40px 0;
}
.blogs .blog-slider .blog-box:hover {
  transform: scale(1.084);
  transition: 0.3s linear;
}
.blogs .blog-slider .blog-box:hover .blog-content {
  background-color: #4313a1;
  color: #ffffff;
  transition: 0.5s linear;
}
.blogs .blog-slider .blog-box:hover .blog-content ul li a {
  border-color: #ffffff;
}
.blogs .blog-slider .blog-box:hover .blog-content a:hover {
  color: #ff5c00;
  border-color: #ff5c00;
}

.blogs .blog-slider .blog-box:hover .blog-content a,
.blogs .blog-slider .blog-box:hover .blog-content p,
.blogs .blog-slider .blog-box:hover .blog-content span {
  color: #ffffff;
  transition: 0.5s linear;
}
.blogs .blog-slider .blog-box .img-box {
  border-radius: 12px 12px 0px 0px;
}
.blogs .blog-slider .blog-box .blog-content {
  width: 100%;
  padding: 25.88px 17.2px 23.25px 17.36px;
}
.blogs .blog-slider .blog-box .blog-content ul {
  margin: 0;
  padding: 0;
}
.blogs .blog-slider .blog-box .blog-content ul li {
  display: inline-block;
  margin-bottom: 17.25px;
  margin-right: 9.18px;
}
.blogs .blog-slider .blog-box .blog-content ul li a {
  color: #4313a1;
  border: 0.5px solid #4313a1;
  padding: 4px 8px;
  border-radius: 20px;
}
.blogs .blog-slider .blog-box .blog-content h5 {
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.21px;
  color: #483d5c;
  margin-bottom: 8.62px;
}
.blogs .blog-slider .blog-box .blog-content h5 a {
  color: #483d5c;
}
.blogs .blog-slider .blog-box .blog-content p {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #5f527a;
  margin-bottom: 17.25px;
}
.blogs .blog-slider .blog-box .blog-content span {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: rgba(95, 82, 122, 0.7);
}
.blogs .blog-slider .blog-box .blog-content span a {
  color: rgba(95, 82, 122, 0.7);
}
.blogs .blog-slider .blog-box .blog-content .read-time {
  color: rgba(95, 82, 122, 0.7);
  margin-left: 8px;
}
.blogs .blog-slider .blog-box .blog-content .read-time:before {
  content: ".";
  position: relative;
  margin-right: 8px;
  top: -3.5px;
}

/* Newsletter */
.newsletter {
  width: 100%;
  padding: 100px 0;
  background: #f5f2fe;
  background-image: url(../images/newsletter-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.newsletter h2 {
  font-weight: bold;
  font-size: 32px;
  line-height: 43px;
  text-align: center;
  margin-bottom: 24px;
  color: #4313a1;
}
.newsletter p {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #5f527a;
  margin-bottom: 48px;
}

.subscribe-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.subscribe-box .subscribe-div {
  width: 627px;
  position: relative;
}

.subscribe-box .subscribe-div input {
  width: 100%;
  padding: 14px 34px 13px;
  height: 48px;
  background: rgba(38, 11, 91, 0.05);
  border: 1px solid rgba(38, 11, 91, 0.11);
  outline: 0;
  border-radius: 50px;
}
.subscribe-box .subscribe-div input::placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.2px;
  color: #5f527a;
}
.error_msg {
  color: red;
  font-size: 12px;
  display: none;
}

.success {
  display: none;
  color: green;
}

.subscribe-box .subscribe-div a,
.subscribe-box .subscribe-div button {
  position: absolute;
  width: 202px;
  height: 48px;
  line-height: 47px;
  padding: inherit;
  font-weight: 900;
  color: #ffffff;
  text-align: center;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  background: #4313a1;
  border-radius: 50px;
}

.subscribe-box .subscribe-div a:hover,
.subscribe-box .subscribe-div button:hover {
  background: #ffffff;
  color: #4313a1;
  border: 1px solid #4313a1;
  transition: 0.3s linear;
}

.subscribe-box .subscribe-div span.success {
  color: #00b95a;
  display: block;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 5px;
}

/* Footer */
footer {
  background: #190049;
  position: relative;
  width: 100%;
  display: flex;
  padding: 100px 0 0px 0;
  justify-content: space-around;
  align-items: center;
}
footer::after {
  content: url(../images/merge-bg.png);
  position: absolute;
  top: -65%;
  right: 0;
}

footer .footer-box {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-bottom: 114.62px;
}

footer .footer-box .logo-socials h2 {
  font-weight: bold;
  font-size: 32px;
  line-height: 45px;
  color: #ffffff;
  margin-bottom: 24px;
}

footer .footer-box .logo-socials a {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 24px 0 0;
}

footer .footer-box .logo-socials a img:hover {
  transform: rotate(360deg);
  transition: 0.3s linear;
}
footer h5 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 16px;
}
footer .footer-box .footer-sec ul li {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  opacity: 0.7;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0 12px 0px;
}
footer .footer-box .footer-sec ul li a {
  color: #ffffff;
}
footer .footer-box .footer-sec ul li a:hover {
  color: #ff5c00;
  transition: 0.8s linear;
}
footer .footer-box .contact-sec {
  padding-right: 140px;
}
footer .footer-box .contact-sec ul li {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 12px;
  position: relative;
  margin-left: 24px;
}
footer .footer-box .contact-sec ul li img {
  position: absolute;
  left: -24px;
  top: 2px;
}
footer .footer-box .contact-sec ul li a {
  color: #ffffff;
}
footer .footer-box .contact-sec ul li a:hover {
  color: #ff5c00;
  transition: 0.8s linear;
}
footer hr {
  opacity: 0.3;
  border: 2px solid #878787;
}
footer .footer-details {
  display: flex;
  justify-content: space-between;
  padding: 15px 0 64px;
  align-items: center;
}

footer .footer-details .copyright p {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  opacity: 0.7;
}
footer .footer-details .lastfoot ul li {
  align-items: center;
  display: inline-flex;
}
footer .footer-details .lastfoot ul li:first-child {
  border-right: 1px solid #414141;
  margin-right: 12px;
  padding-right: 12px;
}
footer .footer-details .lastfoot ul li a {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}
footer .footer-details .lastfoot ul li a:hover {
  color: #ff5c00;
  transition: 0.8s linear;
}

/* Responsive Media Queries */
@media only screen and (max-width: 767px) {

  .wrapper {
    width: 100%;
  }
  .experts {
      padding: 0;
  }
  .experts .main-experts {
    display: block;
    justify-content: initial;
    text-align: center;
}
.experts .main-experts .experts-content {
  padding: 104px 32px 64px 37px;
}
.experts .main-experts .experts-content h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 43px;
  text-align: center;
  background: #4313a1;
  background: -webkit-linear-gradient( to bottom right, #4313a1 20%, #bd4238 81%, #ff5c00 66% );
  background: -moz-linear-gradient( to bottom right, #4313a1 20%, #bd4238 81%, #ff5c00 66% );
  background: linear-gradient( to bottom right, #4313a1 20%, #bd4238 81%, #ff5c00 66% );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 16px;
}
.experts .main-experts .experts-content h1 span {
  background: none;
  -webkit-background-clip: unset;
}
.experts .main-experts .experts-content p {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #483D5C;
  margin-bottom: 32px;
}
.btn-div {
  text-align: center;
  width: 100%;
}
.experts .main-experts .experts-content .btn-1 {
  text-align: center;
  display: initial;
  float: none;
}
.experts .experts-image {
  width: 100%;
  padding: 0px 20px 48px 20px;
}
  nav {
    display: inline;
    align-items: center;
    justify-content: space-between;
  }
  nav .logo {
    display: none;
  }
  .mob-div {
    display: flex;
  }
  .mob-logo {
    display: block;
    font-weight: bold;
    font-size: 42px;
    line-height: 58.8px;
    background: #4313a1;
    background: -webkit-linear-gradient(
      to top right,
      #4313a1 20%,
      #bd4238 72%,
      #ff5c00 100%
    );
    background: -moz-linear-gradient(
      to top right,
      #4313a1 20%,
      #bd4238 72%,
      #ff5c00 100%
    );
    background: linear-gradient(
      to top right,
      #4313a1 20%,
      #bd4238 72%,
      #ff5c00 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  header .main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }

  header .main-header .mobile-nav {
    display: block;
    text-align: right;
  }
  header .main-header .mobile-nav .hamburger {
    display: inline-block;
  }

  header .main-header .mobile-nav .hamburger span {
    transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    transition: all 0ms 300ms;
    display: block;
  }

  header .main-header .mobile-nav .hamburger span {
    background: #483d5c;
    width: 20px;
    height: 1.68px;
  }

  header .main-header .mobile-nav .hamburger span:before {
    background: #483d5c;
    width: 20px;
    height: 1.68px;
  }

  header .main-header .mobile-nav .hamburger span:after {
    background: #483d5c;
    width: 20px;
    height: 1.68px;
  }

  header .main-header .mobile-nav .hamburger span:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 6px;
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
      transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
      transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
      transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  header .main-header .mobile-nav .hamburger span:after {
    content: "";
    position: absolute;
    left: 0;
    top: 6px;
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
      transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
      transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
      transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  header .main-header .mobile-nav .hamburger.active span {
    background: rgba(255, 255, 255, 0);
  }

  header .main-header .mobile-nav .hamburger.active span:after {
    background: #483d5c;
    top: 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
      transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
      transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
      transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    width: 20px;
  }

  header .main-header .mobile-nav .hamburger.active span:before {
    background: #483d5c;
    bottom: 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
      transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
      transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
      transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    width: 20px;
  }

  header .main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    padding: 15px 20px 15px 15px;
    height: auto;
  }

  header .navigation {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background: #fafafa;
    padding: 30px;
    top: 100%;
    right: 0;
    left: 0;
    width: 100%;
    text-align: left;
    height: 100vh;
    z-index: 9999;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
  }

  header .navigation.active {
    opacity: 1;
    visibility: visible;
  }

  header .navigation > nav > ul > li {
    display: block;
    margin-left: 0;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    min-height: auto;
  }
}
